body {
    background-color: #F54748;
}
                                                   /* change bg color project */
.container {
    background-color: #000;
    width: 400px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
   
}
small {
    margin-left: 5px;
}
span {
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}
#info {
    color: #fff;
    justify-content: center;
    align-items: center;    
    display: flex;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 35px;
    display: none;
}
.btn {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 46%;
    margin-top: 30px;
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 1px solid #fff;

}
                                                            /* change bg color project */
.container_2 {
    width: 400px;
    background-color: orange;
    border-radius: 10px;
    margin: auto;
    margin-top: 25px;
    border: 2px black dashed;

}
.display {
    margin-bottom: 20px;
    margin-left: 135px;
    width: 125px;
    height: 50px;
    text-align: center;

}

.container_2 button {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    width: 100px;
    height: 30px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
    color: #fff;

}
                                                        /* change bg color project */
.container_3 {
    width: 400px;
    height: 300px;
    margin: auto;
    margin-top: 20px;

}
.row::after {
    contain: "";
    display: table;
    clear: both;

}
.col {
    float: left;
    width: 20%;
    padding: 10px;
    height: 300px;
}
.orange {
    background-color: orange;
}
.white {
    background-color: #fff;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.col small {
    font-size: 20px;
    padding: 10px;
    margin-top: 50%;
}
.orange small {
    display: none;
    margin-top: 50%;
}
.white small {
    display: none;
    margin-top: 50%;
}
.green small {
    display: none;
    margin-top: 50%;
}
.blue small {
    display: none;
    margin-top: 50%;
}
.container_4 {
    background-color: #fff;
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 40px;

}
.container_4 h1 {
    text-align: center;
   padding-top: 20px;
}
.container_4 label {
    font-weight: bold;
    margin-left: 90px;
    margin-right: 20px;
}
.container_4 button {
    margin-left: 45%;
    margin-top: 20px;
}
.container_4 p {
    text-align: center;
}
#error_msg {
    text-align: center;
    font-weight: bold;
    display: none;
}